body {
  padding: 0px;
  margin: 0px;
}

.origin {
  position: absolute;
  left: 25px;
  top: 25px;
  color: #333333;
  font-size: 1.5em;
  text-transform: uppercase;
}

.date {
  position: absolute;
  right: 25px;
  top: 25px;
  color: #333333;
  font-size: 1.5em;
  display: inline-block;
  width: 300px;
  height: 300px;
  word-wrap: break-word;
  text-transform: uppercase;
}

.reset {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: #f7ce16;
  color: #333333;
}

.reset:hover {
  background: #e2bd14;
}

.reset:active {
  background: #f7da54;
}

.connect {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: #7bed9d;
  color: #333333;
}

.connect:hover {
  background: #59cc7c;
}

.connect:active {
  background: #9ff5b9;
}

button {
  border-radius: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 15px;
  border: 0px;
  cursor: pointer;
}

.colorsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
