.available {
  position: relative;
  display: inline-block;
  transition: 1s ease-in-out filter;
  filter: blur(0px) grayscale(0);
}

.notAvailable {
  position: relative;
  display: inline-block;
  transition: 1s ease-in-out filter;
  filter: blur(5px) grayscale(1);
}

.colorRed {
  position: absolute;
  top: 20%;
  left: 50%;
}

.colorGreen {
  position: absolute;
  bottom: 25%;
  left: 20%;
}

.colorBlue {
  position: absolute;
  bottom: 25%;
  right: 20%;
}

.colorCyan {
  position: absolute;
  bottom: 20%;
  left: 50%;
}

.colorMagenta {
  position: absolute;
  top: 40%;
  right: 30%;
}

.colorYellow {
  position: absolute;
  top: 40%;
  left: 30%;
}

.colorWhite {
  position: absolute;
  top: 55%;
  left: 50%;
}
