.notChanged {
  font-size: 1.5em;
  text-align: center;
  transition: 200ms ease-in-out transform, 200ms ease-in-out filter;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  filter: contrast(0.6);
}

.changed {
  font-size: 1.5em;
  text-align: center;
  transition: 200ms ease-in-out transform, 200ms ease-in-out filter;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  filter: contrast(0.7);
}
