.loading {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
}

.esp32 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: fadein 600ms infinite ease-in-out alternate;
}

@keyframes fadein {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}
